<div class="drawer drawer-mobile">
  <input id="drawer-menu" type="checkbox" class="drawer-toggle" [(ngModel)]="drawerMenu" />
  <div class="drawer-content">
    <div class="navbar bg-base-200 lg:hidden">
      <div class="navbar-start">
        <label tabindex="0" class="btn btn-ghost btn-circle drawer-button" for="drawer-menu">
          <ng-icon name="hero-menu"></ng-icon>
        </label>
      </div>
      <div class="navbar-center">
        <p class="text-xl">{{ name | async }}</p>
      </div>
      <div class="navbar-end">

      </div>
    </div>
    <!-- Page content here -->
    <div class="p-2">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="drawer-side">
    <label for="drawer-menu" class="drawer-overlay"></label>
    <div class="overflow-y-auto w-80 bg-base-100 text-base-content flex flex-col">
      <h1 class="p-4 text-center hidden lg:block text-2xl font-bold">{{ name | async }}</h1>
      <ul class="menu p-4">
        <li><a (click)="drawerMenu = false" routerLink="/dashboard" routerLinkActive="active"><ng-icon name="hero-home"></ng-icon> Dashboard</a></li>
        <li><a (click)="drawerMenu = false" routerLink="/url" routerLinkActive="active"><ng-icon name="hero-link"></ng-icon> URL Tools</a></li>
      </ul>
      <div class="mt-auto">
        <div class="divider m-0"></div>
        <div class="block lg:flex">
          <ul class="menu p-4 lg:p-2 lg:menu-horizontal lg:ml-auto">
            <li class="lg:tooltip" data-tip="Settings"><a (click)="drawerMenu = false" routerLink="/settings" routerLinkActive="active"><ng-icon name="hero-cog"></ng-icon><span class="block lg:hidden"> Settings</span></a></li>
            <li class="lg:tooltip" data-tip="About"><a (click)="drawerMenu = false" routerLink="/about" routerLinkActive="active"><ng-icon name="hero-information-circle"></ng-icon><span class="block lg:hidden"> About</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
