<div class="drawer drawer-mobile">
  <input id="drawer-menu" type="checkbox" class="drawer-toggle" [(ngModel)]="drawerMenu" />
  <div class="drawer-content">
    <div class="navbar bg-base-200 lg:hidden">
      <div class="navbar-start">
        <label tabindex="0" class="btn btn-ghost btn-circle drawer-button" for="drawer-menu">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
        </label>
      </div>
      <div class="navbar-center">
        <a class="btn btn-ghost text-xl">YZ-Toolbox</a>
      </div>
      <div class="navbar-end">

      </div>
    </div>
    <!-- Page content here -->

  </div>
  <div class="drawer-side">
    <label for="drawer-menu" class="drawer-overlay"></label>
    <div class="overflow-y-auto w-80 bg-base-100 text-base-content">
      <h1 class="p-4 text-center hidden lg:block text-2xl font-bold">YZ-Toolbox</h1>
      <ul class="menu p-4">
        <li><a (click)="drawerMenu = false">Sidebar Item 1</a></li>
        <li><a (click)="drawerMenu = false">Sidebar Item 2</a></li>
      </ul>
    </div>
  </div>
</div>
