<div class="grid grid-cols-1 lg:grid-cols-2">
  <div class="dashboard-block">
    <h2 class="dashboard-name">CPU</h2>
    <p class="dashboard-value">{{ data?.cpu_brand }}</p>
  </div>
  <div class="dashboard-block">
    <h2 class="dashboard-name">Memory</h2>
    <p class="dashboard-value">{{ data?.total_memory | number }}KB</p>
  </div>
  <div class="dashboard-block">
    <h2 class="dashboard-name">OS</h2>
    <p class="dashboard-value">{{ data?.os_name }}</p>
  </div>
  <div class="dashboard-block">
    <h2 class="dashboard-name">Hostname</h2>
    <p class="dashboard-value">{{ data?.hostname }}</p>
  </div>
</div>

<div class="dashboard-block">
  <div class="flex justify-center text-center">
    <div class="mx-2">
      <p class="mb-2">CPU Usage</p>
      <div class="radial-progress" style="--value:{{ usage?.cpu | number : '1.0-0' }};" [class.text-error]="usage && usage.cpu >= 80">{{ usage?.cpu | number : '1.0-0' }}%</div>
    </div>
    <div class="mx-2">
      <p class="mb-2">Memory Usage</p>
      <div class="radial-progress" style="--value:{{ usage?.memory | number : '1.0-0' }};" [class.text-error]="usage && usage.memory >= 80">{{ usage?.memory | number : '1.0-0' }}%</div>
    </div>
  </div>
</div>
